<header class="bg-primary">
    <div class="container">
        <nav class="navbar navbar-expand-md no-gutters">
            <div class="col-3 text-left">
                <!--<img src="./imgs/logo.png" height="30" alt="image"> -->
                <span class="navbar-brand btn-primary mb-0 h1">FITNESS</span>
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse-2" aria-controls="navbarNav7" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse navbar-collapse-2 justify-content-center col-md-6" id="navbarNav7">
                <ul class="navbar-nav justify-content-center">
                    <li class="nav-item active">
                        <a class="nav-link btn-primary" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-primary" href="#">Workout Plans</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-primary" href="#">Diet Plans</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-primary" href="#">Contact</a>
                    </li>
                </ul>
            </div>

            <div class="collapse navbar-collapse navbar-collapse-2">
                <ul class="navbar-nav ml-auto justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link btn-primary" href="#" routerLink="/sign-in">Log In</a>
                    </li>
                </ul>

                <a class="btn btn-primary ml-md-3" href="#" routerLink="/sign-up">Register</a>
            </div>
        </nav>
    </div>
</header>