<div class="board-inner" id="status-buttons">
    <!-- <ul class="nav nav-tabs" id="myTab">
        <div class="liner"></div>
        <li>
            <a routerLink="/sex" routerLinkActive="active" title="sex">
                <span class="round-tabs one">
                    <i class="glyphicon glyphicon-tasks">asd</i>
                </span>
            </a>
        </li>
        <li>
            <a routerLink="/weight" routerLinkActive="active" title="weight">
                <span class="round-tabs two">
                    <i class="glyphicon glyphicon-home">qwe</i>
                </span>
            </a>
        </li>
        <li>
            <a routerLink="/age" routerLinkActive="active" title="age">
                <span class="round-tabs three">
                    <i class="glyphicon glyphicon-ok">12</i>
                </span>
            </a>
        </li>
        </ul> -->
    <header class="bg-primary">
        <div class="container">
            <nav class="navbar navbar-expand-md">
                <div class="collapse navbar-collapse justify-content-center col-md">
                    <ul class="navbar-nav justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link btn-primary" routerLink="./sex" routerLinkActive="active">Sex</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link btn-primary" routerLink="./age" routerLinkActive="active">Age</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-primary" routerLink="./height" routerLinkActive="active">Height</a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link btn-primary" routerLink="./weight" routerLinkActive="active">Weight</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link btn-primary" routerLink="./activity" routerLinkActive="active">Activity Level</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-primary" routerLink="/#" routerLinkActive="active">Final</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <div class="clearfix"></div>
</div>
<!-- Close the Splash screen -->
<script src="content/js/loading-bars.js"></script>