<br>
<div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="form-group col-sm-3">
          <div class="card shadow p-3 mb-5 bg-primary rounded text-white">
            <div class="card-header"><img src="./assets/images/program_one.jpg" class="card-img-top" alt="..." /></div>
      
            <div class="card-body">
              <a href="#" class="btn btn-block text-white"
                 routerLink="/program">90 Day Huge Bulk Program</a>
            </div>
          </div>
        </div>
        <div class="form-group col-sm-3 ">
          <div class="card shadow p-3 mb-5 bg-primary rounded text-white ">
            <div class="card-header "><img src="./assets/images/program_three.jpg" class="card-img-top " alt="... " /></div>
      
            <div class="card-body ">
              <a href="#" class="btn btn-block text-white" routerLink="./program">Male - 90 Day Lean Program</a>
            </div>
          </div>
        </div>
        <div class="form-group col-sm-3 ">
          <div class="card shadow p-3 mb-5 bg-primary rounded text-white ">
            <div class="card-header "><img src="./assets/images/program_two.jpg" class="card-img-top " alt="... " /></div>
        
            <div class="card-body ">
              <a href="#" class="btn btn-block text-white" routerLink="./program">Male - 90 Day Lean Program</a>
            </div>
          </div>
        </div>
        <div class="form-group col-sm-3 ">
          <div class="card shadow p-3 mb-5 bg-primary rounded text-white ">
            <div class="card-header "><img src="./assets/images/program_one.jpg" class="card-img-top " alt="... " /></div>
        
            <div class="card-body ">
              <a href="#" class="btn btn-block text-white" routerLink="./age">Male - 90 Day Maximum Fat Loss Program</a>
            </div>
          </div>
        </div>
      </div>
      
</div>
