<section class="fdb-block">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h6>Find the best diet and work-out plan suitables or you.</h6>
            </div>
        </div>

        <div class="row pt-5 justify-content-center align-items-center">
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://i.pinimg.com/originals/4f/b1/c6/4fb1c66ce9192bbcfbd4465a8f5b86c0.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="#" class="btn btn-primary">Female</a>
                    </div>
                </div>
            </div>
            <div class="col-4 offset-1">
                <div class="card" style="width: 18rem;">
                    <img src="https://i.pinimg.com/originals/4f/b1/c6/4fb1c66ce9192bbcfbd4465a8f5b86c0.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="#" class="btn btn-primary">Male</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>